@import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");
@import "tailwindcss";
@plugin "daisyui";

@theme {
  --font-lora: "Lora", serif;
  --font-sans: "Nunito", sans-serif;
  --color-primary-50: #fef7ee;
  --color-primary-100: #feecd6;
  --color-primary-200: #fcd5ac;
  --color-primary-300: #f9b878;
  --color-primary-400: #f68f41;
  --color-primary-500: #f3701c;
  --color-primary-600: #e45612;
  --color-primary-700: #b13c10;
  --color-primary-800: #963416;
  --color-primary-900: #792d15;
  --color-primary-950: #411409;
}

@plugin "daisyui/theme" {
  name: "citris";
  default: true;
  prefersdark: true;
  color-scheme: "light";
  --color-base-100: oklch(98% 0 0);
  --color-base-200: oklch(96% 0.001 286.375);
  --color-base-300: oklch(92% 0.004 286.32);
  --color-base-content: oklch(21% 0.006 285.885);
  --color-primary: oklch(70% 0.213 47.604);
  --color-primary-content: oklch(98% 0.016 73.684);
  --color-secondary: oklch(54% 0.245 262.881);
  --color-secondary-content: oklch(97% 0.014 254.604);
  --color-accent: oklch(51% 0.262 276.966);
  --color-accent-content: oklch(96% 0.018 272.314);
  --color-neutral: oklch(14% 0.005 285.823);
  --color-neutral-content: oklch(98% 0 0);
  --color-info: oklch(71% 0.143 215.221);
  --color-info-content: oklch(98% 0.019 200.873);
  --color-success: oklch(70% 0.14 182.503);
  --color-success-content: oklch(98% 0.014 180.72);
  --color-warning: oklch(70% 0.213 47.604);
  --color-warning-content: oklch(98% 0.016 73.684);
  --color-error: oklch(63% 0.237 25.331);
  --color-error-content: oklch(97% 0.013 17.38);
  --radius-selector: 0.5rem;
  --radius-field: 0.5rem;
  --radius-box: 1rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 0;
  --noise: 1;
}
